{% extends "base.html" %}
{% block title %}Group overview{% endblock %}

{% block content %}
  <h1>{{ g.__repr__() }}</h1>
  <div>
      <h2>Competitors</h2>
        {% for gca in g.competitors %}
          <p>{{ gca.competitor.__repr__() }}</p>
        {% else %}
          <p>No competitors found.</p>
        {% endfor %}
  </div>
  <div>
      <h2>Fights</h2>
        {% for fight in g.fights %}
          {{ fight_dropdown(fight) }}
        {% else %}
          <p>No fights found.</p>
        {% endfor %}
  </div>
{% endblock %}


{% macro fight_dropdown(fight) %}
  <p>{{ fight.__repr__() }}
    <form method=post>
      <select id={{ fight.id }} name="winner_select" onchange="this.form.submit();">
        {% for competitor in [fight.competitor_1, fight.competitor_2] %}
          {% if competitor == fight.winner %}
            <option value="{{ fight.id }}.{{ competitor.id }}" SELECTED>{{ competitor }}</option>"
          {% else %}
            <option value="{{ fight.id }}.{{ competitor.id }}">{{ competitor }}</option>"
          {% endif %}
        {% endfor %}
      </select>
    </form>
  </p>
{% endmacro %}