{% extends "base.html" %}
{% block title %}Group overview{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='autocomplete.js') }}"></script>
{% endblock %}

{% block content %}
  <h1>{{ g.__repr__() }}</h1>
  
  <h2>Competitors</h2>
  
  <div id="competitor_list"></div>
  <script>group_competitor_list({{ g.id }})</script>

  <p>Add new competitor by name:</p>
  <form autocomplete="off">
    <div class="autocomplete" style="width:300px;">
      <input id="competitor_select" type="text" name="competitor_id">
    </div>
    <input label="Add" type="button" onclick="group_add_competitor({{ g.id }}, document.getElementById('competitor_select').value);group_competitor_list({{ g.id }});">
  </form>
  <script>autocomplete(document.getElementById("competitor_select"), get_matching_competitors);</script> 



  <div id="fight_list">
    <h2>Fights</h2>
      {% for fight in g.fights %}
        <div id=fight_{{ fight.id }}></div>
        <script>fight_reload({{ fight.id }})</script>
      {% else %}
        <p>No fights found.</p>
      {% endfor %}
  </div>
{% endblock %}